$stone-colors: (
  50: #f6f7f7,
  100: #e0e7e5,
  200: #c1cecc,
  300: #9aaeac,
  400: #758c8a,
  500: #5b7170,
  600: #4d6160,
  700: #3b4a49,
  800: #323d3c,
  900: #2c3534,
  950: #171c1c,
);

$water-colors: (
  50: #eafffd,
  100: #cafffa,
  200: #9cfff9,
  300: #57fff8,
  400: #0cfdff,
  500: #00dfea,
  600: #00b1c4,
  700: #008e9f,
  800: #0b707f,
  900: #0e5c6b,
  950: #023e4a,
);

$ice-colors: (
  50: #f1f9fa,
  100: #dceef1,
  200: #bddfe4,
  300: #8cc6d0,
  400: #5aa7b6,
  500: #3e8b9c,
  600: #367384,
  700: #315e6d,
  800: #2f4f5b,
  900: #2b434e,
  950: #182b34,
);

$clay-colors: (
  50: #faf7f2,
  100: #f3ece1,
  200: #e7d7c1,
  300: #d8be9b,
  400: #c79c70,
  500: #bb8454,
  600: #ad7149,
  700: #905b3e,
  800: #754b37,
  900: #5f3e2f,
  950: #331f17,
);

$adobe-colors: (
  50: #fcf6f4,
  100: #f9ece7,
  200: #f4ddd4,
  300: #ecc4b5,
  400: #dfa18a,
  500: #cf8164,
  600: #ba6748,
  700: #9c5439,
  800: #814833,
  900: #6d402f,
  950: #3a1f15,
);

$earth-colors: (
  50: #faf9f0,
  100: #f1eed4,
  200: #e1dca6,
  300: #cdc16b,
  400: #c7b458,
  500: #bc9c44,
  600: #a67f39,
  700: #8a6333,
  800: #72502e,
  900: #5e4229,
  950: #352313,
);

$gray-colors: (
  50: #f7f7f7,
  100: #ededed,
  200: #dfdfdf,
  300: #c8c8c8,
  400: #adadad,
  500: #9f9f9f,
  600: #888888,
  700: #7b7b7b,
  800: #676767,
  900: #545454,
  950: #363636,
);
