@import "./_variables.scss";
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #ebf5f6;
  // overflow: hidden;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

$navbar-toggler-focus-width: 0;
$input-btn-focus-width: 0.15rem;

:root {
  --black: #000;
  --bs-body-bg: #ebf5f6 !important;
  --input-bg: #fff;
  --input-border: #ced4da;
  --white: #fff;
  --breadcrumb: var(--ice-100);
  --breadcrumb-color: var(--water-900);
  --water-50: #{map-get($water-colors, 50)};
  --water-100: #{map-get($water-colors, 100)};
  --water-200: #{map-get($water-colors, 200)};
  --water-300: #{map-get($water-colors, 300)};
  --water-400: #{map-get($water-colors, 400)};
  --water-500: #{map-get($water-colors, 500)};
  --water-600: #{map-get($water-colors, 600)};
  --water-700: #{map-get($water-colors, 700)};
  --water-800: #{map-get($water-colors, 800)};
  --water-900: #{map-get($water-colors, 900)};
  --water-950: #{map-get($water-colors, 950)};

  --stone-50: #{map-get($stone-colors, 50)};
  --stone-100: #{map-get($stone-colors, 100)};
  --stone-200: #{map-get($stone-colors, 200)};
  --stone-300: #{map-get($stone-colors, 300)};
  --stone-400: #{map-get($stone-colors, 400)};
  --stone-500: #{map-get($stone-colors, 500)};
  --stone-600: #{map-get($stone-colors, 600)};
  --stone-700: #{map-get($stone-colors, 700)};
  --stone-800: #{map-get($stone-colors, 800)};
  --stone-900: #{map-get($stone-colors, 900)};
  --stone-950: #{map-get($stone-colors, 950)};

  --ice-50: #{map-get($ice-colors, 50)};
  --ice-100: #{map-get($ice-colors, 100)};
  --ice-200: #{map-get($ice-colors, 200)};
  --ice-300: #{map-get($ice-colors, 300)};
  --ice-400: #{map-get($ice-colors, 400)};
  --ice-500: #{map-get($ice-colors, 500)};
  --ice-600: #{map-get($ice-colors, 600)};
  --ice-700: #{map-get($ice-colors, 700)};
  --ice-800: #{map-get($ice-colors, 800)};
  --ice-900: #{map-get($ice-colors, 900)};
  --ice-950: #{map-get($ice-colors, 950)};

  --clay-50: #{map-get($clay-colors, 50)};
  --clay-100: #{map-get($clay-colors, 100)};
  --clay-200: #{map-get($clay-colors, 200)};
  --clay-300: #{map-get($clay-colors, 300)};
  --clay-400: #{map-get($clay-colors, 400)};
  --clay-500: #{map-get($clay-colors, 500)};
  --clay-600: #{map-get($clay-colors, 600)};
  --clay-700: #{map-get($clay-colors, 700)};
  --clay-800: #{map-get($clay-colors, 800)};
  --clay-900: #{map-get($clay-colors, 900)};
  --clay-950: #{map-get($clay-colors, 950)};

  --adobe-50: #{map-get($adobe-colors, 50)};
  --adobe-100: #{map-get($adobe-colors, 100)};
  --adobe-200: #{map-get($adobe-colors, 200)};
  --adobe-300: #{map-get($adobe-colors, 300)};
  --adobe-400: #{map-get($adobe-colors, 400)};
  --adobe-500: #{map-get($adobe-colors, 500)};
  --adobe-600: #{map-get($adobe-colors, 600)};
  --adobe-700: #{map-get($adobe-colors, 700)};
  --adobe-800: #{map-get($adobe-colors, 800)};
  --adobe-900: #{map-get($adobe-colors, 900)};
  --adobe-950: #{map-get($adobe-colors, 950)};

  --earth-50: #{map-get($earth-colors, 50)};
  --earth-100: #{map-get($earth-colors, 100)};
  --earth-200: #{map-get($earth-colors, 200)};
  --earth-300: #{map-get($earth-colors, 300)};
  --earth-400: #{map-get($earth-colors, 400)};
  --earth-500: #{map-get($earth-colors, 500)};
  --earth-600: #{map-get($earth-colors, 600)};
  --earth-700: #{map-get($earth-colors, 700)};
  --earth-800: #{map-get($earth-colors, 800)};
  --earth-900: #{map-get($earth-colors, 900)};
  --earth-950: #{map-get($earth-colors, 950)};

  --gray-50: #{map-get($gray-colors, 50)};
  --gray-100: #{map-get($gray-colors, 100)};
  --gray-200: #{map-get($gray-colors, 200)};
  --gray-300: #{map-get($gray-colors, 300)};
  --gray-400: #{map-get($gray-colors, 400)};
  --gray-500: #{map-get($gray-colors, 500)};
  --gray-600: #{map-get($gray-colors, 600)};
  --gray-700: #{map-get($gray-colors, 700)};
  --gray-800: #{map-get($gray-colors, 800)};
  --gray-900: #{map-get($gray-colors, 900)};
  --gray-950: #{map-get($gray-colors, 950)};

  --form-group-label: #212529;
  --top-side-bar-color: var(--white);
  --top-side-bar-border: var(--ice-50);
  --top-side-bar-text: var(--stone-600);
  --top-side-bar-text-active: var(--stone-700);
  --top-side-bar-img-container: var(--ice-100);
  --top-side-bar-btn-drawer: var(--water-700);
  --top-side-bar-border-bottom-active: var(--water-500);
  --top-side-bar-active-link: var(--water-200);
  --top-side-bar-icons-color: var(--water-900);
  --top-side-bar-btn-settings: var(--ice-50);
  --top-side-bar-icon-settings: var(--ice-700);
  --top-side-bar-config-card-bg: var(--white);
  --top-side-bar-config-card-title: var(--stone-700);
  --top-side-bar-config-card-line: var(--ice-100);
  --top-side-bar-config-theme-colors: var(--water-950);
  --top-side-bar-config-theme-buttons-card-bg: var(--ice-50);
  --top-side-bar-config-theme-buttons-card-color: var(--water-900);
  --top-side-bar-config-theme-buttons-active: var(--water-200);
  --voip-bg-card: var(--white);
  --voip-text-calling: var(--stone-600);
  --profile-text-header: var(--water-800);
  --profile-container-img: var(--water-700);
  --profile-color-email: var(--water-950);
  --profile-bg-timer: var(--ice-50);
  --profile-status-color: var(--stone-600);
  --profile-bg: var(--white);
  --profile-tabs-color: var(--stone-400);
  --profile-tabs-border-color: var(--stone-100);
  --profile-tabs-color-active: var(--water-700);
  --profile-resume-logoff-border: var(--stone-100);
  --profile-resume-queue-color: var(--stone-600);
  --profile-resume-queue-header-color: var(--stone-400);
  --profile-resume-logoff: var(--adobe-500);
  --report-card-bg: var(--white);
  --report-card-top-icon-container: var(--water-100);
  --report-card-top-icon-color: var(--water-700);
  --report-card-top-name: var(--stone-700);
  --report-card-description-color: var(--water-900);
  --admin-header-template-title-color: var(--water-800);
  --admin-table-bg-color: var(--white);
  --admin-table-header-line-color: var(--ice-100);
  --admin-table-body-line-color: var(--ice-50);
  --admin-table-header-color: var(--gray-600);
  --admin-dashboard-title-card: var(--stone-700);
  --admin-dashboard-bg-card: var(--white);
  --admin-dashboard-card-active: var(--water-100);
  --admin-dashboard-card-active-color: var(--water-900);
  --stone-600-main: var(--stone-600);
  --admin-dashboard-line: #dceef1;
  --paginator-btn: var(--white);
  --paginator-btn-color: var(--water-700);
  --paginator-btn-active-bg: var(--water-700);
  --paginator-btn-arrow: var(--water-900);
  --paginator-total-items-color: #212529;
  --home-card-bg: var(--ice-100);
  --home-card-icon-container: var(--water-700);
  --home-card-icon-color: var(--ice-100);
  --home-card-title-color: var(--water-900);
  --interactions-history-th-color: var(--gray-600);
  --interactions-history-title-color: var(--water-950);
  --interactions-CRM-card-bg: var(--white);
  --body-text-body-color: #212529;
  --interactions-card-btn-queue-bg: var(--ice-100);
  --interactions-card-btn-queue-bg-active: var(--ice-300);
  --interactions-card-btn-queue-color: var(--stone-900);
  --interactions-card-btn-queue-color-active: var(--white);
  --interactions-card-interaction-bg: var(--white);
  --interactions-card-interaction-bg-active: var(--water-600);
  --interactions-card-interaction-bg-img-container: var(--stone-50);
  --interactions-card-interaction-bg-img-container-active: var(--white);
  --interactions-card-interaction-icon-color: var(--water-700);
  --interactions-card-interaction-name-color: var(--water-900);
  --interactions-card-interaction-name-color-active: var(--stone-50);
  --interactions-card-interaction-queue-color: var(--stone-600);
  --interactions-card-interaction-queue-color-active: var(--white);
  --interactions-card-interaction-timer-bg: var(--ice-50);
  --interactions-card-interaction-timer-bg-active: var(--water-700);
  --interactions-chat-message-ballon-client: var(--water-200);
  --interactions-chat-message-ballon-agent: var(--stone-50);
  --interactions-chat-message-img-container-agent: var(--stone-100);
  --interactions-chat-message-img-container-client: var(--water-200);
  --interactions-chat-message-img-container-icon-client: var(--water-700);
  --interactions-chat-message-img-container-icon-agent: var(--stone-600);
  --interactions-chat-message-name-client: var(--water-700);
  --interactions-chat-message-time-client: var(--water-600);
  --interactions-chat-message-name-agent: var(--stone-700);
  --interactions-chat-message-time-agent: var(--stone-600);
  --interactions-chat-message-text-client: var(--water-900);
  --interactions-chat-message-text-agent: var(--stone-900);
  --interactions-chat-message-header-icons: var(--water-900);
  --interactions-chat-message-header-online: var(--stone-400);
  --interactions-chat-message-header-img-container: var(--stone-100);
  --interactions-chat-message-icons-footer: var(--water-900);
  --interactions-chat-message-borders: var(--ice-100);
  --interactions-chat-message-active-icon-bg: var(--water-200);
  --interactions-chat-message-active-icon-color: var(--water-700);
  --interactions-view-title: var(--water-800);
  --interactions-chat-message-border-dropdown: var(--stone-200);
  --interactions-chat-message-text-dropdown: var(--water-950);
  --interactions-chat-message-preview-files: var(--white);
  --interactions-chat-message-border-preview-files: var(--ice-100);
  --interactions-chat-message-bg-title-preview-files: var(--stone-50);
  --interactions-chat-history-border-container: var(--stone-300);
  --interactions-chat-history-icon-color: var(--stone-400);
  --interactions-chat-history-hours-color: var(--water-900);
  --interactions-chat-history-bg-container: var(--white);
  --interactions-chat-message-dropdown-recording-bg: var(--white);
  --interactions-chat-message-dropdown-recording-icon-container: var(
    --water-700
  );
  --interactions-chat-message-dropdown-recording-icon-delete: var(--stone-600);
  --interactions-chat-message-dropdown-recording-icon-send: var(--water-50);
  --interactions-chat-message-dropdown-recording-icon-mic: var(--water-500);
  --interactions-chat-message-dropdown-recording-border: var(--stone-200);
  --interactions-chat-message-border-preview: var(--stone-200);
  --report-header-title: var(--water-800);
  --report-table-title: var(--water-950);
  --confirmation-modal-icon-color: var(--water-700);
  --confirmation-modal-title-color: var(--stone-700);
  --confirmation-modal-description-color: var(--water-950);
  --modal-status-check-icon-color: var(--water-700);
  --modal-title-color: var(--stone-700);
  --modal-message-params-bg: var(--stone-50);
  --modal-message-btn-params: #00b1d0;
  --modal-message-btn-params-list: var(--ice-100);
  --modal-message-btn-params-list-color: var(--gray-600);
  --incoming-call-icon: var(--water-700);
  --incoming-call-card-body-titles: var(--water-950);
  --incoming-call-icon-container: var(--stone-100);
  --incoming-call-phone-color: var(--water-900);
  --incoming-call-client-name: var(--stone-400);
  --incoming-call-title: var(--stone-600);
  --incoming-call-hr-color: var(--ice-100);
  --admin-customer-modal-icon: var(--water-700);
  --admin-customer-modal-title: var(--stone-700);
  --admin-queue-last-agent: var(--water-800);
  --admin-queue-bg-meta-data: var(--stone-50);
  --admin-queue-icon-plus: var(--water-700);
  --admin-queue-color: var(--stone-700);
  --admin-queue-bg-fields: var(--stone-50);
  --dashboard-card-pie-header-icon-container: var(--water-100);
  --dashboard-card-pie-header-icons: var(--water-700);
  --dashboard-table-title: var(--water-800);
  --dashboard-card-title-color: var(--stone-700);
  --dashboard-card-total-bg: var(--stone-50);
  --dashboard-card-pie-icon-color: var(--water-700);
  --admin-edit-customer-title-color: var(--water-800);
  --bs-border-color: var(--ice-100) !important;
  --admin-dash-menu-text-color: var(--stone-600);
  --admin-dash-menu-title-color: var(--water-950);
  --admin-dash-menu-bg: var(--white);
  --admin-dash-menu-icon-color: var(--water-700);
  --table-icon-edit-color: var(--water-950);
  --dialog-bg: var(--white);
  --dialog-border: var(--stone-200);
  --bs-scrollbar-bg: var(--bs-tertiary-bg);
  --bs-scrollbar-shadow: var(--bs-border-color);
  --bs-scrollbar-thumb: #ccc;
  --bs-scrollbar-thumb-hover: #bbb;
  --decoration: #606266;
  --el-bg-color: #d3d3d3;
  --border-select: #dee2e6;
  --shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --bg-screen-size: #e7e7e7;
  --custom-card-bg-wrap: #e7e7e7;
  --animation-voice-bg: var(--water-500);
  --card-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --plyr-menu-background: #ebebeb;
  --selected-item: #8cc6d0;
  --btn-action-opacity: 1;
  --text-black-white: #000;
  --bg-top-bar: #eeededf3;
  --bg-border-card: #cdcdcd;
  --gradient-filters: #eef2f3;
  --placeholder: #6c757d;
  --shadow-dropdown: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  --dashboard-card: #fcfcfc;
  --ck-color-base-text: #000;
  --ck-color-button-default-hover-background: #969696;
  --bg-new-message: #fdfdfd;
  --bg-drag-drop: #e2fbff;
  --bg-dial-button: #ececec;
  --el-check-box-border: var(--stone-200);
  --el-check-box-bg: transparent;
  --admin-edit-people-border: var(--stone-200);
  --admin-edit-customer-bg: var(--white);
  --admin-tab-border: var(--gray-300);
  --profile-timer-color: var(--stone-600);
  --custom-dropdown-bg: #fff;
  --voip-keyboard-button-bg: var(--stone-50);
  --voip-keyboard-button-color: var(--stone-700);
  --power-bi-card-icon-container-color: var(--water-100);
  --power-bi-card-icon-color: var(--water-700);
  --power-bi-card-bg: #fff;
  --power-bi-card-line: var(--ice-100);
  --interactions-wrap-up-container: var(--white);
}

:root[data-bs-theme="dark"] {
  --black: #000;
  --bs-body-bg: #012c34 !important;
  --white: var(--water-50);
  --water-50: #{map-get($water-colors, 50)};
  --water-100: #{map-get($water-colors, 100)};
  --water-200: #{map-get($water-colors, 200)};
  --water-300: #{map-get($water-colors, 300)};
  --water-400: #{map-get($water-colors, 400)};
  --water-500: #{map-get($water-colors, 500)};
  --water-600: #{map-get($water-colors, 600)};
  --water-700: #{map-get($water-colors, 700)};
  --water-800: #{map-get($water-colors, 800)};
  --water-900: #{map-get($water-colors, 900)};
  --water-950: #{map-get($water-colors, 950)};

  --stone-50: #{map-get($stone-colors, 50)};
  --stone-100: #{map-get($stone-colors, 100)};
  --stone-200: #{map-get($stone-colors, 200)};
  --stone-300: #{map-get($stone-colors, 300)};
  --stone-400: #{map-get($stone-colors, 400)};
  --stone-500: #{map-get($stone-colors, 500)};
  --stone-600: #{map-get($stone-colors, 600)};
  --stone-700: #{map-get($stone-colors, 700)};
  --stone-800: #{map-get($stone-colors, 800)};
  --stone-900: #{map-get($stone-colors, 900)};
  --stone-950: #{map-get($stone-colors, 950)};

  --ice-50: #{map-get($ice-colors, 50)};
  --ice-100: #{map-get($ice-colors, 100)};
  --ice-200: #{map-get($ice-colors, 200)};
  --ice-300: #{map-get($ice-colors, 300)};
  --ice-400: #{map-get($ice-colors, 400)};
  --ice-500: #{map-get($ice-colors, 500)};
  --ice-600: #{map-get($ice-colors, 600)};
  --ice-700: #{map-get($ice-colors, 700)};
  --ice-800: #{map-get($ice-colors, 800)};
  --ice-900: #{map-get($ice-colors, 900)};
  --ice-950: #{map-get($ice-colors, 950)};

  --clay-50: #{map-get($clay-colors, 50)};
  --clay-100: #{map-get($clay-colors, 100)};
  --clay-200: #{map-get($clay-colors, 200)};
  --clay-300: #{map-get($clay-colors, 300)};
  --clay-400: #{map-get($clay-colors, 400)};
  --clay-500: #{map-get($clay-colors, 500)};
  --clay-600: #{map-get($clay-colors, 600)};
  --clay-700: #{map-get($clay-colors, 700)};
  --clay-800: #{map-get($clay-colors, 800)};
  --clay-900: #{map-get($clay-colors, 900)};
  --clay-950: #{map-get($clay-colors, 950)};

  --adobe-50: #{map-get($adobe-colors, 50)};
  --adobe-100: #{map-get($adobe-colors, 100)};
  --adobe-200: #{map-get($adobe-colors, 200)};
  --adobe-300: #{map-get($adobe-colors, 300)};
  --adobe-400: #{map-get($adobe-colors, 400)};
  --adobe-500: #{map-get($adobe-colors, 500)};
  --adobe-600: #{map-get($adobe-colors, 600)};
  --adobe-700: #{map-get($adobe-colors, 700)};
  --adobe-800: #{map-get($adobe-colors, 800)};
  --adobe-900: #{map-get($adobe-colors, 900)};
  --adobe-950: #{map-get($adobe-colors, 950)};

  --earth-50: #{map-get($earth-colors, 50)};
  --earth-100: #{map-get($earth-colors, 100)};
  --earth-200: #{map-get($earth-colors, 200)};
  --earth-300: #{map-get($earth-colors, 300)};
  --earth-400: #{map-get($earth-colors, 400)};
  --earth-500: #{map-get($earth-colors, 500)};
  --earth-600: #{map-get($earth-colors, 600)};
  --earth-700: #{map-get($earth-colors, 700)};
  --earth-800: #{map-get($earth-colors, 800)};
  --earth-900: #{map-get($earth-colors, 900)};
  --earth-950: #{map-get($earth-colors, 950)};

  --gray-50: #{map-get($gray-colors, 50)};
  --gray-100: #{map-get($gray-colors, 100)};
  --gray-200: #{map-get($gray-colors, 200)};
  --gray-300: #{map-get($gray-colors, 300)};
  --gray-400: #{map-get($gray-colors, 400)};
  --gray-500: #{map-get($gray-colors, 500)};
  --gray-600: #{map-get($gray-colors, 600)};
  --gray-700: #{map-get($gray-colors, 700)};
  --gray-800: #{map-get($gray-colors, 800)};
  --gray-900: #{map-get($gray-colors, 900)};
  --gray-950: #{map-get($gray-colors, 950)};

  --bg-color: var(--water-950);
  --input-bg: var(--water-800);
  --input-border: var(--water-900);

  --form-group-label: var(--ice-200);
  --breadcrumb: var(--water-900);
  --breadcrumb-color: var(--water-50);
  --top-side-bar-color: var(--bg-color);
  --top-side-bar-border: var(--ice-800);
  --top-side-bar-text: var(--ice-400);
  --top-side-bar-text-active: var(--white);
  --top-side-bar-img-container: var(--ice-800);
  --top-side-bar-btn-drawer: var(--water-500);
  --top-side-bar-border-bottom-active: var(--water-500);
  --top-side-bar-active-link: var(--water-800);
  --top-side-bar-icons-color: var(--white);
  --top-side-bar-btn-settings: var(--water-900);
  --top-side-bar-icon-settings: var(--white);
  --top-side-bar-config-card-bg: var(--water-900);
  --top-side-bar-config-card-title: var(--water-50);
  --top-side-bar-config-card-line: var(--water-800);
  --top-side-bar-config-theme-colors: var(--water-50);
  --top-side-bar-config-theme-buttons-card-bg: var(--water-950);
  --top-side-bar-config-theme-buttons-card-color: var(--water-50);
  --top-side-bar-config-theme-buttons-active: var(--water-900);
  --voip-bg-card: var(--bg-color);
  --voip-text-calling: var(--stone-600);
  --profile-text-header: var(--water-50);
  --profile-container-img: var(--water-700);
  --profile-color-email: var(--water-50);
  --profile-bg-timer: var(--ice-50);
  --profile-status-color: var(--water-50);
  --profile-timer-color: var(--stone-600);
  --profile-bg: var(--bg-color);
  --profile-tabs-color: var(--water-600);
  --profile-tabs-border-color: var(--water-600);
  --profile-tabs-color-active: var(--water-50);
  --profile-resume-logoff-border: var(--stone-100);
  --profile-resume-queue-color: var(--water-50);
  --profile-resume-queue-header-color: var(--water-50);
  --profile-resume-logoff: var(--adobe-500);
  --report-card-bg: var(--bg-color);
  --report-card-top-icon-container: var(--water-900);
  --report-card-top-icon-color: var(--water-50);
  --report-card-top-name: var(--stone-50);
  --report-card-description-color: var(--water-200);
  --admin-header-template-title-color: var(--water-50);
  --admin-table-bg-color: var(--bg-color);
  --admin-table-header-line-color: var(--water-800);
  --admin-table-body-line-color: var(--water-900);
  --admin-table-header-color: var(--white);
  --bs-table-color: var(--white);
  --admin-dashboard-title-card: var(--water-50);
  --admin-dashboard-bg-card: var(--bg-color);
  --admin-dashboard-card-active: var(--water-500);
  --admin-dashboard-card-active-color: var(--water-900);
  --admin-dashboard-line: var(--water-800);
  --stone-600-main: var(--water-50);
  --paginator-btn: var(--bg-color);
  --paginator-btn-color: var(--water-50);
  --paginator-btn-active-bg: var(--water-500);
  --paginator-btn-arrow: var(--water-50);
  --paginator-total-items-color: var(--water-50);
  --home-card-bg: var(--water-900);
  --home-card-icon-container: var(--water-500);
  --home-card-icon-color: var(--water-800);
  --home-card-title-color: var(--water-50);
  --interactions-history-th-color: var(--water-50);
  --interactions-history-title-color: var(--water-50);
  --interactions-CRM-card-bg: var(--bg-color);
  --body-text-body-color: var(--water-50);
  --interactions-card-btn-queue-bg: var(--ice-100);
  --interactions-card-btn-queue-bg-active: var(--ice-300);
  --interactions-card-btn-queue-color: var(--stone-900);
  --interactions-card-btn-queue-color-active: var(--white);
  --interactions-card-interaction-bg: var(--bg-color);
  --interactions-card-interaction-bg-active: var(--water-700);
  --interactions-card-interaction-bg-img-container: var(--stone-50);
  --interactions-card-interaction-bg-img-container-active: var(--water-900);
  --interactions-card-interaction-icon-color: var(--ice-200);
  --interactions-card-interaction-name-color: var(--water-900);
  --interactions-card-interaction-name-color-active: var(--ice-100);
  --interactions-card-interaction-queue-color: var(--stone-600);
  --interactions-card-interaction-queue-color-active: var(--white);
  --interactions-card-interaction-timer-bg: var(--ice-50);
  --interactions-card-interaction-timer-bg-active: var(--water-800);
  --interactions-chat-message-ballon-client: var(--water-800);
  --interactions-chat-message-ballon-agent: var(--water-900);
  --interactions-chat-message-img-container-agent: var(--water-900);
  --interactions-chat-message-img-container-client: var(--water-800);
  --interactions-chat-message-img-container-icon-client: var(--ice-50);
  --interactions-chat-message-img-container-icon-agent: var(--ice-400);
  --interactions-chat-message-name-client: var(--ice-300);
  --interactions-chat-message-time-client: var(--ice-300);
  --interactions-chat-message-name-agent: var(--ice-300);
  --interactions-chat-message-time-agent: var(--ice-300);
  --interactions-chat-message-text-client: var(--white);
  --interactions-chat-message-text-agent: var(--white);
  --interactions-chat-message-header-icons: var(--ice-300);
  --interactions-chat-message-header-online: var(--ice-300);
  --interactions-chat-message-header-img-container: var(--water-800);
  --interactions-chat-message-icons-footer: var(--ice-300);
  --interactions-chat-message-borders: var(--water-800);
  --interactions-chat-message-active-icon-bg: var(--water-200);
  --interactions-chat-message-active-icon-color: var(--water-700);
  --interactions-view-title: var(--water-800);
  --interactions-chat-message-border-dropdown: var(--stone-200);
  --interactions-chat-message-text-dropdown: var(--water-50);
  --interactions-chat-message-preview-files: var(--water-950);
  --interactions-chat-message-preview-card-bg: var(--water-900);
  --interactions-chat-message-border-preview-files: var(--ice-100);
  --interactions-chat-message-bg-title-preview-files: var(--water-700);
  --interactions-chat-history-border-container: var(--water-700);
  --interactions-chat-history-icon-color: var(--water-500);
  --interactions-chat-history-hours-color: var(--water-50);
  --interactions-chat-history-bg-container: var(--water-900);
  --interactions-chat-message-dropdown-recording-bg: var(--water-900);
  --interactions-chat-message-dropdown-recording-icon-container: var(
    --water-700
  );
  --interactions-chat-message-dropdown-recording-icon-delete: var(--water-50);
  --interactions-chat-message-dropdown-recording-icon-send: var(--water-50);
  --interactions-chat-message-dropdown-recording-icon-mic: var(--water-500);
  --interactions-chat-message-dropdown-recording-border: transparent;
  --interactions-chat-message-border-preview: var(--water-800);
  --interactions-wrap-up-container: var(--water-800);
  --report-header-title: var(--water-50);
  --report-table-title: var(--water-50);
  --confirmation-modal-icon-color: var(--water-700);
  --confirmation-modal-title-color: var(--stone-700);
  --confirmation-modal-description-color: var(--water-950);
  --modal-status-check-icon-color: var(--water-500);
  --modal-title-color: var(--stone-700);
  --modal-message-params-bg: var(--water-950);
  --modal-message-btn-params: #00b1d0;
  --modal-message-btn-params-list: var(--water-800);
  --modal-message-btn-params-list-color: var(--water-50);
  --incoming-call-icon: var(--water-500);
  --incoming-call-card-body-titles: var(--water-50);
  --incoming-call-icon-container: var(--water-500);
  --incoming-call-phone-color: var(--water-50);
  --incoming-call-client-name: var(--water-50);
  --incoming-call-title: var(--water-50);
  --incoming-call-hr-color: var(--water-700);
  --incoming-call-bg: var(--water-900);
  --incoming-call-icon-container-color: var(--water-800);
  --admin-customer-modal-icon: var(--water-500);
  --admin-customer-modal-title: var(--water-50);
  --admin-dash-menu-text-color: var(--water-50);
  --admin-dash-menu-title-color: var(--water-50);
  --admin-dash-menu-bg: var(--water-900);
  --admin-dash-menu-icon-color: var(--water-500);
  --admin-queue-bg-fields: var(--water-950);
  --admin-queue-last-agent: var(--water-50);
  --admin-queue-color: var(--water-50);
  --admin-queue-icon-plus: var(--water-500);
  --admin-queue-bg-meta-data: var(--water-950);
  --dashboard-card-pie-header-icon-container: var(--water-800);
  --dashboard-card-pie-header-icons: var(--water-500);
  --dashboard-table-title: var(--water-50);
  --dashboard-card-title-color: var(--water-50);
  --dashboard-card-total-bg: var(--stone-50);
  --dashboard-card-pie-icon-color: var(--water-500);
  --table-icon-edit-color: var(--water-500);
  --dialog-bg: var(--water-900);
  --dialog-border: var(--water-800);
  --bs-scrollbar-bg: transparent;
  --bs-scrollbar-shadow: transparent;
  --bs-scrollbar-thumb: var(--water-800);
  --bs-scrollbar-thumb-hover: var(--water-800);
  --el-bg-color: #212529;
  --decoration: #fff;
  --border-select: #495057;
  --el-bg-color-overlay: var(--input-bg);
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --bg-screen-size: #201e1e;
  --custom-card-bg-wrap: #414040;
  --animation-voice-bg: var(--water-500);
  --card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --selected-item: #005f69;
  --btn-action-opacity: 0.8;
  --text-black-white: #fff;
  --bg-top-bar: #333333;
  --bg-border-card: #fcfcfc;
  --el-tree-node-hover-bg-color: #212529 !important;
  --el-fill-color-light: #212529 !important;
  --gradient-filters: #434343;
  --el-text-color-regular: #fff;
  --el-text-color-primary: #fff;
  --placeholder: var(--water-50);
  --shadow-dropdown: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
  --dashboard-card: var(--water-950);
  --bg-dial-button: #475153;
  --el-fill-color-blank: transparent;
  --el-border-color: #475153 !important;
  --el-check-box-border: var(--stone-200);
  --el-check-box-bg: var(--white);
  --admin-edit-people-border: var(--water-800);
  --admin-edit-customer-bg: var(--water-950);
  --admin-edit-customer-title-color: var(--water-50);
  --admin-tab-border: var(--water-800);
  --custom-dropdown-bg: var(--water-900);
  --voip-keyboard-button-bg: var(--water-800);
  --voip-keyboard-button-color: var(--water-400);
  --power-bi-card-icon-container-color: var(--water-800);
  --power-bi-card-icon-color: var(--water-500);
  --power-bi-card-bg: var(--water-900);
  --power-bi-card-line: var(--water-900);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px var(--bs-scrollbar-shadow);
  border-radius: 10px;
  background: var(--bs-scrollbar-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bs-scrollbar-thumb);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-scrollbar-thumb-hover);
}
